/*
  Copyright 2023 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)
*/
html {
  -webkit-user-select: none;
  -moz-user-select: none;
  overscroll-behavior: none;
}

body {
  background-color: #222;
  overscroll-behavior: none;
}

h3 {
  color: #ccc;
  font-size: 1.5vw;
}

.container {
  padding-top: 1vw;
  width: 100%;
  max-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#statusContainer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  padding: 0.5vw 1vw;
  margin-bottom: 1.5vw;
  border-bottom: 1px solid #444;
  gap: 4vw;
}

#matchName {
  font-size: 2vw;
  font-weight: bold;
}

#countdownContainer {
  display: flex;
  align-items: baseline;
  gap: 1.5vw;
  font-size: 2vw;
  font-weight: bold;
}

#matchState {
  /* No margin needed here as gap is used */
}

#matchTime {
  font-family: monospace;
}

#refereePanel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5vw;
  padding: 0 0.5vw;
}

#cards {
  width: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

#cards[data-hr="false"] {
  display: none;
}

.alliance-cards {
  padding: 0.8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #666;
  border-radius: 1vw;
  gap: 0.4vw;
}

#redCards {
  margin-bottom: 1vw;
  background-color: rgba(153, 51, 51, 0.2);
  border-color: #933;
}

#blueCards {
  background-color: rgba(34, 102, 204, 0.2);
  border-color: #26c;
}

.team-card {
  margin: 0;
  width: 10vw;
  height: 3.5vw;
  font-size: 2.2vw;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vw;
  border: 1px solid #555;
  transition: all 0.2s;
}

.team-card:active {
  transform: scale(0.95);
}

.team-card[data-card="yellow"] {
  background-color: #c90;
}

.team-card[data-card="red"] {
  background-color: #900;
}

.team-card[data-old-yellow-card="true"] {
  border: 0.3vw solid #ff0;
}

#scoringStatuses {
  margin-top: 0.5vw;
}

.scoring-status {
  margin-top: 0.5vw;
  width: 8vw;
  padding: 0.2vw 0.5vw;
  border-radius: 0.5vw;
  background-color: #e66;
  font-size: 0.8vw;
  color: #000;
}

.scoring-status[data-ready=true] {
  background-color: #0c6;
}

.scoring-status[data-present=false] {
  background-color: #666;
}

#fouls {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

#foulButtons {
  display: flex;
  flex-direction: row;
}

.foul-button {
  width: 14.5vw;
  height: 6vw;
  font-size: 2.2vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5vw;
  border-radius: 0.8vw;
}

.red-foul {
  background-color: #933;
}

.blue-foul {
  background-color: #26c;
}

#foulList {
  margin: 1vw 0;
}

.foul {
  margin-top: 1vw;
  height: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8vw;
  border-radius: 0.5vw;
}

.foul>* {
  margin: 0 1vw;
}

.type-button {
  width: 9vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.2vw;
}

.team-buttons {
  display: flex;
  flex-direction: row;
}

.team-button {
  width: 6vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2vw;
}

.team-button[data-selected="true"] {
  border: solid 0.2vw #fff;
}

.rule-select {
  width: 25vw;
  height: 3vw;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 0.2vw;
}

.rule-select option {
  background-color: #222;
  color: #fff;
}

.delete-button {
  width: 6vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
  border-radius: 0.2vw;
}

#controlButtons {
  width: 100%;
  margin: 1vw 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#controlButtons[data-hr="false"] {
  display: none;
}

.control-button {
  width: 20vw;
  height: 4vw;
  font-size: 2.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1vw;
  border-radius: 0.2vw;
  opacity: 0.3;
}

.control-button[data-enabled=true] {
  opacity: 1;
}

#volunteerButton {
  background-color: #90c;
}

#resetButton {
  background-color: #093;
}

#commitButton {
  background-color: #26c;
}

#scoreSummary {
  width: 16vw;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  padding: 0.2vw;
  align-items: center;
  text-align: center;
}

#scoreSummary[data-hr="false"] {
  display: none;
}

.scoreSummary {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.5vw;
  padding: 0.5vw;
  border: 1px solid #444;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5vw;
}

#redScoreSummary {
  border-top: 0.3vw solid #933;
}

#blueScoreSummary {
  border-top: 0.3vw solid #26c;
}

.summary-header {
  font-weight: bold;
  font-size: 1.2vw;
  padding: 0.2vw;
  border-bottom: 1px solid #666;
  margin-bottom: 0.2vw;
}

.summary-section {
  display: flex;
  flex-direction: column;
  gap: 0.2vw;
  padding: 0.3vw;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 0.3vw;
}

.summary-label {
  font-weight: bold;
  font-size: 0.9vw;
  color: #aaa;
  border-bottom: 1px solid #444;
  margin-bottom: 0.2vw;
}

.fuel-row,
.tower-row {
  font-size: 0.9vw;
  display: flex;
  justify-content: space-between;
}

.total-row {
  border-top: 1px dashed #444;
  padding-top: 0.1vw;
}

.team-id {
  font-weight: bold;
  color: #ccc;
}

.tower-status {
  font-size: 0.8vw;
  font-weight: bold;
  color: #fff;
}

.tower-status[data-is-auto="true"] {
  color: #fbde0d;
}

.hub-active-indicator {
  font-size: 0.7vw;
  margin-left: 0.5vw;
}

.hub-active-indicator[data-active="true"] {
  color: #0f0;
}

.hub-active-indicator[data-active="false"] {
  color: #f00;
}

.hub-active-indicator {
  font-size: 0.7vw;
  margin-left: 0.2vw;
  font-weight: normal;
}

.hub-active-indicator[data-active="true"] {
  color: #0f0;
}

.hub-active-indicator[data-active="false"] {
  color: #f00;
}